main {
    padding: 0.15rem;
}

h1 {
    font-size: 0.28rem;
    font-weight: normal;
    padding-bottom: 0.3rem;
}

section {
    padding-bottom: 0.3rem;
}

section:last-of-type {
    padding-bottom: 0;
}

@media (min-width: 800px) {
    main {
        width: 800px;
        margin: 0 auto;
        padding: 0.3rem;
    }
}
