body {
    background-color: #f8f8f8;
}

main {
    padding: 0.15rem;
    background-color: #ffffff;
}

h1 {
    font-size: 0.25rem;
    font-weight: bold;
}

section {
    margin-top: 0.32rem;
}

@media (min-width: 800px) {
    main {
        width: 800px;
        margin: 0 auto;
        padding: 0.4rem;
    }
}
