.basic_info .name {
    margin-bottom: 0.08rem;
    font-weight: bold;
    font-size: 0.23rem;
}

.basic_info .label_list {
    display: flex;
    flex-wrap: wrap;
}

.basic_info .label_list li {
    padding-top: 0.12rem;
}

.basic_info .label_list li, .label_list li a {
    display: flex;
    align-items: center;
    font-size: 0.13rem;
    color: #414a60;
}

.basic_info .label_list li .iconfont {
    padding-right: 0.05rem;
    font-size: 0.15rem;
}

.basic_info .label_list li:after {
    content: '|';
    margin: 0 0.12rem;
    color: #b9b9b9;
}

.basic_info .label_list li:last-child:after {
    content: '';
    margin: 0;
}